<p-menubar [model]="menus">
  <ng-template #item let-item>
    <a pRipple [routerLink]="item.routerLink" class="flex items-center p-menubar-item-link">
      <span>{{ item.label }}</span>
      <i *ngIf="item.items" class="ml-auto pi pi-angle-down"></i>
    </a>
  </ng-template>

  <ng-template #end>
    <div class="flex items-center space-x-3">
      <p-floatlabel variant="on">
        <input pInputText id="over_label" [(ngModel)]="jwtToken" autocomplete="off" class="h-8" />
        <label for="over_label">Token JWT</label>
      </p-floatlabel>
      <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"></p-avatar>
    </div>
  </ng-template>
</p-menubar>
