<div class="mx-auto max-w-7xl">
  <p-menubar [model]="menus">
    <ng-template #item let-item>
      <a
        pRipple
        [routerLink]="item.routerLink"
        [routerLinkActive]="'p-menuitem-link-active'"
        [routerLinkActiveOptions]="item.routerLinkActiveOptions || {}"
        class="flex items-center p-menubar-item-link"
      >
        <span><i [class]="item.icon + ' mr-2'"></i> {{ item.label }}</span>
        <i *ngIf="item.items" class="ml-auto pi pi-angle-down"></i>
      </a>
    </ng-template>

    <ng-template #end>
      <div class="flex items-center space-x-3">
        <p-avatar
          class="cursor-pointer"
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          shape="circle"
          (click)="logout.toggle($event)"
        ></p-avatar>
        <p-menu #logout [model]="logoutMenu" [popup]="true" />
      </div>
    </ng-template>
  </p-menubar>
</div>
