.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  position: relative;
  width: 750px;
  height: 450px;
  background: var(--p-neutral-50);
  border: 2px solid var(--p-neutral-50);
  overflow: hidden;
  backdrop-filter: blur(15px);
}

.wrapper .form-box {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .form-box.login {
  left: 0;
  padding: 0 60px 0 40px;
}

.wrapper .form-box.login .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition: 0.7s ease;
  transition-delay: calc(0.1s * var(--j));
}

.wrapper.active .form-box.login .animation {
  transform: translateX(-120%);
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(0.1s * var(--i));
}

.wrapper .form-box.register {
  right: 0;
  padding: 0 40px 0 60px;
  pointer-events: none;
}

.wrapper.active .form-box.register {
  pointer-events: auto;
}

.wrapper .form-box.register .animation {
  transform: translateX(120%);
  opacity: 0;
  filter: blur(10px);
  transition: 0.7s ease;
  transition-delay: calc(0.1s * var(--j));
}

.wrapper.active .form-box.register .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(0.1s * var(--i));
}

.form-box h2 {
  font-size: 32px;
  color: var(--p-emerald-600);
  text-align: center;
}

.form-box .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 25px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #000;
  font-weight: 500;
  padding-right: 23px;
  border-bottom: 2px solid #000;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: var(--p-neutral-800);
  pointer-events: none;
  transition: 0.5s;
}

.input-box i {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 18px;
  color: var(--p-neutral-800);
  transition: 0.5s;
}

.btn {
  position: relative;
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid var(--p-emerald-600);
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: var(--p-emerald-600);
  font-weight: 600;
}

.form-box .logreg-link {
  font-size: 14.5px;
  color: #000;
  text-align: center;
  margin: 20px 0 10px;
}

.logreg-link p a {
  color: var(--p-emerald-600);
  text-decoration: none;
  font-weight: 600;
}

.logreg-link p a:hover {
  text-decoration: underline;
}

.btn {
  position: relative;
  width: 100%;
  height: 45px;
  background: transparent;
  border: 2px solid var(--p-emerald-600);
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: var(--p-emerald-600);
  font-weight: 600;
}

.wrapper .info-text {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper .info-text.login {
  right: 0;
  text-align: right;
  padding: 0 40px 60px 150px;
}

.wrapper .info-text.register {
  left: 0;
  text-align: left;
  padding: 0 150px 60px 40px;
  pointer-events: none;
}

.wrapper.active .info-text.register {
  pointer-events: auto;
}

.wrapper .info-text.register .animation {
  transform: translateX(-120%);
  transition: 0.7s ease;
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(0.1s * var(--j));
}

.wrapper.active .info-text.register .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition-delay: calc(0.1s * var(--i));
}

.info-text h2 {
  font-size: 30px;
  color: #fff;
  line-height: 1.3;
  text-transform: uppercase;
}

.info-text p {
  font-size: 16px;
  color: #fff;
}

.wrapper .bg-animate {
  position: absolute;
  top: -4px;
  right: 0;
  width: 850px;
  height: 600px;
  background: var(--p-neutral-800);
  transform: rotate(10deg) skewY(40deg);
  transform-origin: bottom right;
  transition: 1.5s ease;
  transition-delay: 1.6s;
}

.wrapper.active .bg-animate {
  transform: rotate(0) skewY(0);
  transition-delay: 0.5s;
}

.wrapper .bg-animate2 {
  position: absolute;
  top: 100%;
  left: 250px;
  width: 850px;
  height: 700px;
  background: #fff;
  transform: rotate(0) skewY(0);
  transform-origin: bottom left;
  transition: 1.4s ease;
  transition-delay: 0.5s;
}

.wrapper.active .bg-animate2 {
  transform: rotate(-11deg) skewY(-41deg);
  transition-delay: 1.2s;
}

.wrapper .info-text.login .animation {
  transform: translateX(0);
  opacity: 1;
  filter: blur(0);
  transition: 0.7s ease;
  transition-delay: calc(0.1s * var(--j));
}

.wrapper.active .info-text.login .animation {
  transform: translateX(120%);
  opacity: 0;
  filter: blur(10px);
  transition-delay: calc(0.1s * var(--i));
}

.close-login {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 96%;
  cursor: pointer;
}

.modal {
  display: flex;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: 380px;
  }

  .wrapper .form-box {
    width: 100%;
  }

  .bg-animate,
  .bg-animate2,
  .info-text {
    display: none;
    z-index: -2;
  }

  .close-login {
    color: var(--p-neutral-400);
    left: 92%;
  }

  .wrapper,
  .wrapper.active {
    .info-text.register .animation,
    .info-text.login .animation,
    .form-box.login .animation,
    .form-box.register .animation {
      transition-delay: 0.1s;
    }
  }
}
