@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity, 1));
}
