<p-dataview #dv [value]="transactions()" layout="list" [paginator]="true" [rows]="5">
  <ng-template #list let-items>
    <ng-container *ngFor="let item of items; let first = first">
      <div
        class="flex flex-wrap sm:flex-nowrap justify-between items-start sm:items-center bg-white p-3 w-full"
        [class.border-t]="!first"
      >
        <div class="flex flex-col sm:flex-row items-start sm:items-center sm:space-x-4 flex-none sm:flex-1 sm:min-w-0">
          <p-tag [value]="item.type" [severity]="item.type === 'Receita' ? 'success' : 'danger'"></p-tag>

          <div class="mt-2 sm:mt-0 truncate">
            <span class="text-lg font-semibold text-gray-800 block">
              {{ item.category }}
            </span>
            <span class="text-sm text-gray-500 block">
              {{ item.date | date: "dd/MM/yyyy" }}
            </span>
          </div>
        </div>

        <span class="text-md font-bold flex-none">
          {{ item.value | currency: "BRL" : "symbol" : "1.2-2" }}
        </span>
      </div>
    </ng-container>
  </ng-template>
</p-dataview>
